.main-home{
    background-image: url('../../assets/principal.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30em;    
    margin-top: -4em;
    position: relative;
    z-index: -1;
}
.main-home::before{
    content: '';
    position:absolute;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
    top: 0;
    left: 0;
    right: 60%;
    bottom: 0;
}
.logo{
    position:absolute;
    z-index: 3;
    top: 15%;
    left: -5%;
}
.business-side{
background-color: rgb(50, 50, 50);
height: 20em;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.business-container{
    max-width: 30%;
    max-height: 30%;
    margin: 1.5em 5em 2em 8em;
}  
@media (max-width:575px) {
    .main-home {
        height: 60vh;
        margin-top: 0.02em;
    }
    .main-home::before{
        right: 65%;
    }
    .logo img{
        width: 40%;
        margin-top: 4em;
        margin-left: 0.5em;
        position: fixed;
    }
    .business-container{
        margin: 4%;
    } 
    .business-container{
        margin: 1.5em;
        max-width: 30%;
        max-height: 20%;
    } 
} 
@media (min-width:575px){
    /* .main-home::before{
        right: 65%;
    } */
    .logo img{
        width: 40%;
        margin-top: 4em;
        margin-left: 0.5em;
        position: fixed;
    }
    .business-container{
        margin: 4%;
        margin-bottom: 0.5em;
    } 
    /* .business-container{
        margin: 1.5em;
        max-width: 30%;
        max-height: 20%;
    }  */
} 
.about-side{
height: 20em;
}
.service-side{
    background-color: rgb(50, 50, 50);
    height: 30em;
}
.collage-side{
height: 40em;
}
.contact-side{
height: 20em;
} 
p{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
} 
