.event-background{
    background-image: url('../../../assets/A6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display:flex;
    justify-content: center;
}
