@media (max-width:576px) {
    .navbar {
        background-color: rgb(59, 59, 59);
    }
    .navbar-toggler{
        background-color: rgb(160, 160, 160);
    }
    .nav-link{
        color: rgb(204, 201, 201);
    }
}