.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-sub{
    background-color: #454546;
    height: 2em;
}
.footer-inf{
    background-color: #272727;
    height: 4em;
}
.copy{
    color: white;
    margin-left: 2em;
}
