.admin-background {
    height: 100%;
    display: flex;
    justify-content: center;
}

.admin-card-main {
    width: 70vw;
    display: flex;
    justify-content: center;
    margin-top: 5vw;

}

.admin-card-event {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(210, 211, 211, 0.744);
    box-shadow: 5px 5px 5px;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
}