.event-see-background{
    background-image: url('../../../../assets/A5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 2vw;
}
.event-see-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.event-see-box{
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(230, 235, 185, 0.744);
    box-shadow: 5px 5px 5px;
    text-align: center;
}
@media (min-width: 575px) {
    .event-see-container{
        width: 50%;
    }
}