.profile-background {
    background-image: url('../../assets/profileUser.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.744);
    box-shadow: 5px 5px 5px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(152, 152, 153, 0.819);
    width: 50vw;

}